
/* Product View Styles */
#productCard{
    border-bottom: 1px solid  #587547;
}

#productName {
    color: #3D2813;
}

#addToCart {
    /* border: 1px solid #587547 ; */
    color: #587547;
}
#addToCart:hover{
    background-color: #587547;
    color: white;
}

/* Order Summary Styles  */
#receipt{
    color: #3D2813;
}

#totalPrice{
    color: #587547;
}

#date{
    font-style: italic;
}

/* Cart Styles */
#checkoutButton {
    background-color: #587547;;
}
#checkoutButton:hover {
    background-color: #3e5531;;
}

/* Active Nav Styles */
#activeNavLink{
    color:#587547 ;
}

/* Login Page Styles */
#loginButton {
    border: 1px solid #587547 ;
    color: #587547;
}
#loginButton:hover{
    background-color: #587547;
    color: white;
}

/* Register Page Styles */
#registerButton {
    border: 1px solid #587547 ;
    color: #587547;
}
#registerButton:hover{
    background-color: #587547;
    color: white;
}

/* Orders  */
#orderHistoryTable{
    background-color: white;
    border-radius: 10px;
}

/* CSS Loaders */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #3a3a3a;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }