
/* Product View Styles */

.product-image-container{
  border: none;
  background-color: white;
}

#productCard{
    border-bottom: 1px solid  #587547;
}

#productName {
    color: #3D2813;
}

#addToCart {
    /* border: 1px solid #587547 ; */
    color: #587547;
}
#addToCart:hover{
    background-color: #587547;
    color: white;
}

/* Order Summary Styles  */
#receipt{
    color: #3D2813;
}

#totalPrice{
    color: #587547;
}

#date{
    font-style: italic;
}

/* Cart Styles */
#checkoutButton {
    background-color: #587547;;
}
#checkoutButton:hover {
    background-color: #3e5531;;
}

/* Active Nav Styles */
#activeNavLink{
    color:#587547 ;
}

/* Login Page Styles */
#loginButton {
    border: 1px solid #587547 ;
    color: #587547;
}
#loginButton:hover{
    background-color: #587547;
    color: white;
}

/* Register Page Styles */
#registerButton {
    border: 1px solid #587547 ;
    color: #587547;
}
#registerButton:hover{
    background-color: #587547;
    color: white;
}

/* Orders  */
#orderHistoryTable{
    background-color: white;
    border-radius: 10px;
}

/* Button */
.btn:disabled {
  border: none;
}

/* Register Form */
.reg-form{
  border-radius: 2rem;
}

/* Login Form */
.form-container{
  width: 100%;
}

/* Search Bar */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    }
    .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #086223;
    padding-right: 40px;
    color:#060606;
    }
    .input-search::placeholder{
    color:rgba(6, 6, 6, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    }
    .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;

    color:#f0f0f0 ;
    background-color:transparent;
    pointer-events: painted;  
    }
    .btn-search:focus ~ .input-search{
    width: 15rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(59, 102, 7, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    
    }
    .input-search:focus{
    width: 15rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(16, 16, 16, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }


    /* CSS Loader */
    .lds-roller {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #0e0e0e;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }



    @keyframes ldio-4oz2t7k5bu4-1 {
      0% { transform: rotate(0deg) }
     50% { transform: rotate(-45deg) }
    100% { transform: rotate(0deg) }
  }
  @keyframes ldio-4oz2t7k5bu4-2 {
      0% { transform: rotate(180deg) }
     50% { transform: rotate(225deg) }
    100% { transform: rotate(180deg) }
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(2) {
    transform: translate(-15px,0);
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #85a2b6;
    animation: ldio-4oz2t7k5bu4-1 0.9345794392523364s linear infinite;
    transform-origin: 60px 60px
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(2) div:nth-child(2) {
    animation: ldio-4oz2t7k5bu4-2 0.9345794392523364s linear infinite
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
  }@keyframes ldio-4oz2t7k5bu4-3 {
      0% { transform: translate(190px,0); opacity: 0 }
     20% { opacity: 1 }
    100% { transform: translate(70px,0); opacity: 1 }
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(1) {
    display: block;
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bbcedd;
    animation: ldio-4oz2t7k5bu4-3 0.9345794392523364s linear infinite
  }
  .ldio-4oz2t7k5bu4 > div:nth-child(1) div:nth-child(1) { animation-delay: -0.7169000000000001s }
  .ldio-4oz2t7k5bu4 > div:nth-child(1) div:nth-child(2) { animation-delay: -0.3531s }
  .ldio-4oz2t7k5bu4 > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
  .loadingio-spinner-bean-eater-4fuw7dno1rg {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-4oz2t7k5bu4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-4oz2t7k5bu4 div { box-sizing: content-box; }

